version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: blog-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: blog
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    
  redis:
    image: redis:7.2.1       # 원하는 Redis 버전
    container_name: redis
    ports:
      - "6379:6379"          # 호스트:컨테이너 포트
    command: ["redis-server", "--requirepass", ""] # 비밀번호 설정
    volumes:
      - redis_data:/data      # 데이터 지속성
    restart: always

  minio:
    image: minio/minio:latest
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password123
    command: server /data --console-address ":9001"
    volumes:
      - minio-data:/data
    restart: unless-stopped
volumes:
  postgres-data:
  redis_data:
  minio-data: