<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.blog.mapper.PostMapper">

    <insert id="insertPost" parameterType="com.example.blog.dto.PostDTO" 
                                useGeneratedKeys="true" keyProperty="id">
        INSERT INTO posts (name, is_admin, contents, views, category_id, user_id)
        VALUES (#{name}, #{isAdmin}, #{contents}, #{views}, #{categoryId}, #{userId})
    </insert>

    <select id="findAllByUserId" resultType="com.example.blog.dto.PostDTO">
        SELECT id,
               name,
               is_admin AS isAdmin,
               contents,
               create_time AS createTime,
               views,
               category_id AS categoryId,
               user_id AS userId,
               update_time AS updateTime
        FROM posts
        WHERE user_id = #{userId}
    </select>

    <select id="getPost" resultType="com.example.blog.dto.PostDTO">
        SELECT 
            id,
            user_id AS userId,
            category_id AS categoryId,
            name,
            contents,
            is_admin AS isAdmin,
            views,
            create_time AS createTime,
            update_time AS updateTime
        FROM posts
        WHERE id = #{id}
    </select>

    <update id="updatePost" parameterType="com.example.blog.dto.PostDTO">
        UPDATE posts
        SET name = #{name},
            contents = #{contents},
            views = #{views},
            category_id = #{categoryId},
            user_id = #{userId},
            update_time = #{updateTime}
        WHERE id = #{id}
    </update>

    <delete id="deletePost">
        DELETE FROM posts
        WHERE id = #{id}
    </delete>

</mapper>